*.php linguist-detectable=true
*.css linguist-detectable=false
*.js linguist-detectable=false
*.blade.php linguist-detectable=true
/public linguist-vendored
/node_modules linguist-vendored
/vendor linguist-vendored